/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding: 0;
  background-image: repeating-linear-gradient(
      to right,
      var(--background-first-color) 0,
      var(--background-first-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      var(--background-first-color) 0,
      var(--background-first-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(
      to bottom,
      var(--background-second-color) 0.01%,
      var(--background-third-color) 100%
    );
  background-size: 100% 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease;
  font-variation-settings: "wght" var(--font-main-text-weight, 400);
}

.container {
  max-width: 43.75rem;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: clamp(23.19rem, 15.98rem + 31.055vw, 43.94rem);
  flex-shrink: 0;
  margin-block-end: 100px;
  margin-block-start: 100px;
  box-sizing: border-box;
  background-color: var(--main-background-color);
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font), fantasy;
}

.theme-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  padding-block-end: 22px;
  width: 100%;
  padding-block-start: 16px;
}

.theme-menu__list {
  padding-inline-start: 16px;
}

.theme-menu__item {
  margin-top: 10px;
  display: flex;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  color: var(--accent-color);
  transition: opacity 0.3s ease;
  cursor: pointer;
  position: relative;
  display: flex;
  text-transform: uppercase;
  font-weight: var(--font-main-header-weight), 700;
  font-size: 14px;
  font-family: var(--accent-font), fantasy;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  font-family: var(--accent-font), fantasy;
  content: "▶";
  right: 100%;
  margin-inline-end: 4px;
  top: 0;
  pointer-events: none;
  position: absolute;
  animation: arrowAnimation 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus-visible:hover::before {
  transform: scaleX(1);
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 2px;
  background-color: var(--accent-color);
  top: 100%;
  margin-top: 1px;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.header__logo {
  color: var(--accent-color);
  padding-block-start: clamp(7.5rem, 7.153rem + 1.497vw, 8.5rem);
  font-size: clamp(3.0625rem, 2.7105rem + 1.5023vw, 4.0625rem);
  font-weight: var(--font-main-header-weight, 700);
}

.header__title {
  color: var(--accent-color);
  margin-top: 25px;
  font-size: clamp(0.875rem, 0.68rem + 0.842vw, 1.438rem);
  font-weight: var(--font-main-header-weight, 700);
  text-transform: uppercase;
}

.cards__list {
  display: flex;
  gap: 50px;
  flex-direction: column;
}

.card__item {
  background-color: var(--main-background-color);
  border: 2px solid var(--accent-color);
  inline-size: clamp(23.188rem, 15.986rem + 31.057vw, 43.938rem);
}

.card__title {
  color: var(--accent-color, #000);
  font-family: var(--main-font), sans-serif;
  font-weight: var(--font-main-header-weight, 700);
  font-size: 18px;
  line-height: normal;
  border-block-end: 2px solid var(--accent-color);
  padding: 5px 10px;
  font-variation-settings: "wght" var(--font-main-header-weight, 700);
}

.card__image-container {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  position: relative;
}

.card__image {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  display: block;
  block-size: clamp(23.188rem, 16.116rem + 30.496vw, 43.563rem);
}

.card__label {
  z-index: 1;
  opacity: 0.5;
  color: var(--accent-color);
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  font-weight: var(--font-main-text-weight, 400);
  text-transform: uppercase;
  position: absolute;
  top: clamp(1.375rem, 1.29rem + 0.375vw, 1.625rem);
  right: clamp(0.688rem, 0.36rem + 1.403vw, 1.625rem);
  mix-blend-mode: hard-light;
  text-shadow:
    -1px 0 var(--main-background-color),
    0 1px var(--main-background-color),
    1px 0 var(--main-background-color),
    0 -1px var(--main-background-color);
}

@supports (
  -webkit-text-stroke-width: 1px
) and (
  -webkit-text-stroke-color: var(--main-background-color)
) {
  .card__label {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--main-background-color);
    text-shadow: none;
  }
}

.card__content-container {
  border-top: 2px solid var(--accent-color);
  background-color: var(--main-background-color);
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  inline-size: 100%;
}

.card__main-text {
  color: var(--accent-color);
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-weight: var(--font-main-text-weight, 400);
  line-height: 21px;
}

.card__buttons-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 4px;
}

.card__icon-button {
  padding: 0;
  background: var(--main-background-color);
  border: 2px solid transparent;
  inline-size: 50px;
  block-size: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: border 0.3s ease;
}

.card__like-button {
  min-inline-size: 130px;
  min-block-size: 38px;
  padding: 11px 0 10px 0;
  background: var(--main-background-color);
  color: var(--accent-color);
  justify-content: center;
  align-items: center;
  border: 2px solid var(--accent-color);
  cursor: pointer;
}

.button__animated {
  position: relative;
  border: 2px solid var(--accent-color);
  overflow: hidden;
  background-color: var(--main-background-color);
  color: var(--accent-color);
}

.button__animated:focus {
  outline: none;
}

.button__animated:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: box-shadow 0.3s;
}

button:hover {
  cursor: pointer;
}

.button__animated:hover::before {
  transform: translateX(0);
}

.button__animated::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--button-animated-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  transform-origin: 0 0;
  mix-blend-mode: difference;
}

.like-icon {
  inline-size: 42px;
  block-size: 38px;
}

.button__text {
  margin: 0 auto;
  font-family: var(--accent-font), fantasy;
  font-weight: var(--font-main-text-weight, 400);
  font-size: 14px;
  line-height: 0.9;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block-start: 50px;
  padding-block-end: 105px;
}

.footer__button-save {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 19px;
  gap: 8px;
  font-size: 14px;
  min-block-size: 51px;
}

.floppy {
  inline-size: 21px;
  block-size: 21px;
  stroke: var(--accent-color);
}

.dialog[open] {
  position: fixed;
  inset: 0;
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  background-color: var(--main-background-color);
  padding: 0;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__form {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-areas:
    "floppy text-block"
    "ok ok";
  align-items: center;
  margin: 30px;
  padding: 0;
  row-gap: 30px;
  column-gap: 20px;
}

.dialog__text {
  grid-area: text-block;
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.5;
  text-transform: uppercase;
  inline-size: clamp(12.375rem, 11.5827rem + 3.3803vw, 14.625rem);
  max-inline-size: 234px;
}

.dialog__button {
  grid-area: ok;
  padding: 9px 0 4px;
  text-transform: uppercase;
}

.dialog__floppy {
  flex-shrink: 0;
  grid-area: floppy;
  inline-size: 39px;
  block-size: 39px;
  stroke: var(--accent-color);
}

.filter__brightness {
  filter: brightness(0.6);
}

.filter__saturate {
  filter: saturate(128%);
}

.filter__contrast {
  filter: contrast(135%);
}

.filter__hue {
  filter: hue-rotate(30deg);
}

.filter__invert {
  filter: invert(80%);
}

.filter__grayscale {
  filter: grayscale(50%);
}

.filter__sepia {
  filter: sepia(50%);
}

.filter__mix {
  filter: brightness(100%) grayscale(100%) sepia(50%);
}

@media (width <= 375px) {
  :root {
    --section-width: 100%;
  }

  .section {
    min-inline-size: 100%;
  }

  .floppy {
    inline-size: 28px;
    block-size: 28px;
  }

  .dialog__form {
    margin: 30px 40px;
  }

  .dialog__text {
    max-inline-size: 198px;
  }

  .footer {
    grid-template-columns: min-content;
    padding-block-end: 102px;
  }

  .footer__button-save {
    flex-direction: column;
  }
}
