/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

.page.theme-auto {
  --main-background-color: #FFFFFF;
  --accent-color: #000;
  --background-first-color: #d3d3d3;
  --background-second-color: #e7e7e7;
  --background-third-color: #1a1a1a;
  --like-icon: red;
  --button-animated-color: #FFFFFF;
  --font-main-text-weight: 400;
  --font-main-header-weight: 700;
  
  }
  :root.theme-light {
  --main-background-color: #FFFFFF;
  --accent-color: #000;
  --background-first-color: #d3d3d3;
  --background-second-color: #e7e7e7;
  --background-third-color: #1a1a1a;
  --like-icon: red;
  --button-animated-color: #FFFFFF;
  --font-main-text-weight: 400;
  --font-main-header-weight: 700;
  }

  :root.theme-dark {
  --main-background-color: #000000;
  --accent-color: #00CC14;
  --background-first-color: #000;
  --background-second-color: #007f0c;
  --background-third-color: #004306; 
  --like-icon: red;
  --button-animated-color: #00CC14;
  --font-main-text-weight: 465;
  --font-main-header-weight: 785;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --main-background-color: #000000;
      --accent-color: #00CC14;
      --background-first-color: #000;
      --background-second-color: #007f0c;
      --background-third-color: #004306; 
      --like-icon: red;
      --button-animated-color: #00CC14;
      --font-main-text-weight: 465;
      --font-main-header-weight: 785;
    }
  }
  